/* Banner Section */

.banner {
  margin-top: 0px;
  position: relative !important;
  background-image: url(../Assets/bg1.c53c8971.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.banner .row h5 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 700 !important;
  display: inline-block;
  color: #565acf;
  padding: 5px 15px;
  background-position: 50%;
  background-repeat: repeat;
}

.banner .row h2 {
  margin-bottom: 50px;
  font-weight: 800 !important;
  line-height: 1.3;
  color: #1f2278;
  font-size: 45px;
}

.banner .row a {
  padding: 20px 45px;
  box-shadow: 0 5px 20px 0 rgba(241, 119, 50, 0.3) !important;
  background-color: #f17732;
  color: #fff !important;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  text-decoration: none !important;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
}

.row button {
  border: none !important;
}

.banner .row a:hover {
  background-color: #ff853f;
}
.bannerImg img {
  width: 90%;
}

.banner .row img {
  margin-right: 0;
  margin-left: 0;
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  animation: up-down 2.5s infinite alternate;
  position: relative;
}

@keyframes up-down {
  0% {
    top: 0px;
  }
  100% {
    top: 12px;
  }
}

.banner:after {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: url(../Assets/shape1.1112f1ac.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100%;
  z-index: -1;
}

@media (max-width: 992px) {
  .banner {
    padding-top: 20px;
    height: 400px;
  }
  .banner .row h2 {
    font-size: 30px;
  }

  .banner .row h5 {
    padding: 10px 0px;
  }
  .banner .row a {
    padding: 15px 30px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .banner {
    padding-top: 20px;
    height: 600px;
  }
  .bannerImg {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .bannerImg img {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .banner .row h5 {
    font-size: 15px;
  }
  .banner .row h2 {
    font-size: 25px;
  }
  .banner .row a {
    padding: 10px 20px;
    font-size: 12px;
  }
  .bannerImg {
    padding-top: 25px;
  }
  .bannerImg img {
    width: 60%;
  }
}
@media (max-width: 350px) {
  .banner {
    padding-top: 20px;
    height: 500px;
  }
  .banner .row h2 {
    font-size: 22px;
  }
}
