footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
  background-image: url(../Assets/footer.d025f458.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

footer .footer-top {
  padding: 150px 0 0;
}

.widget {
  margin-bottom: 40px;
}

footer .footer-logo {
  max-width: 190px;
  margin-bottom: 25px;
}

footer .ft-contact p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer .ft-contact .contact-bx {
  display: flex;
  align-items: center;
}

footer .ft-contact .contact-bx .icon svg {
  font-size: 24px;
  color: #fff;
  margin-right: 15px;
  background-color: #f17732;
  padding: 17px;
  border-radius: 30px 30px 0 30px;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
}

footer .ft-contact .contact-bx .contact-number span {
  color: #f17732;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  display: block;
}

footer .ft-contact .contact-bx .contact-number .number {
  margin-bottom: 0;
  font-size: 20px;
  color: #1f2278;
  font-weight: 700;
}

footer .widget .footer-title {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
}

footer .widget .footer-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 4px;
  background-color: #565acf;
  background-repeat: no-repeat;
}

footer .widget ul {
  margin-bottom: 0;
  padding-left: 0;
}

.footer .footer-widget ul li a {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  display: block;
  line-height: 25px;
  color: #444;
  position: relative;
}

.footer .footer-widget ul li a:hover {
  color: #565acf;
}

.w-100 {
  width: 100% !important;
}

button.btn.btn-secondary.shadow:hover {
  background-color: #f38f5e !important;
}

.footer .footer-social-link ul {
  margin: 0 -8px;
}

.footer .footer-social-link ul li {
  display: inline-block;
  padding: 0 8px;
}

.footer .footer-social-link ul li a {
  text-decoration: none;
}

.footer .footer-social-link ul li a svg {
  font-size: 30px;
  color: #565acf;
}

.footer .footer-bottom {
  border-top: 1px solid #d4d5f1;
  padding: 25px 0;
  font-size: 15px;
}

.footer .footer-bottom .copyright-text {
  margin: 0;
}

footer p {
  font-weight: 500;
}

.footer .footer-bottom .copyright-text a {
  text-decoration: none;
  color: #f17732 !important;
  font-weight: 500 !important;
  margin-left: 5px;
}

.footer:after {
  content: "";
  background-image: url(../Assets/footerback111.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  background-position: 0 0;
}

@media (max-width: 732px) {
  footer .widget.footer-widget ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  footer .widget .footer-title {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
    font-size: 20px !important;
  }

  .footer .footer-social-link ul {
    text-align: center;
    padding-left: 0;
  }
}
