@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #444;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #1f2278;
  line-height: 1.3;
}

.h6,
h6 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

h5 a {
  font-size: 20px;
  font-weight: 700 !important;
}

h5 {
  font-size: 20px;
  font-weight: 700 !important;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #1f2278;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.scroll-to-top {
  width: 50px !important;
  height: 50px !important;
  background: #565acf !important;
  font-size: 17px !important;
  padding: 6px !important;
  border-radius: 30% !important;
  text-align: center !important;
}

.scroll-to-top svg {
  color: #fff !important;
}


/* services section */

.btn-secondary.shadow,
.btn-secondary:hover {
  box-shadow: 0 5px 20px 0 rgba(241, 119, 50, 0.3) !important;
}

.btn-secondary {
  background-color: #f17732 !important;
  color: #fff;
  border-color: #f17732 !important;
}

.btn-lg {
  font-size: 16px !important;
  padding: 20px 35px !important;
  line-height: 1;
}

.btn {
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500 !important;
  transition: all 0.5s;
  border-width: 2px;
}

.bhover a:hover {
  background-color: #f38f5e !important;
  border-color: #f38f5e !important;
}

.service-wraper {
  position: relative;
}

.service-wraper .feature-container {
  margin: 15px !important;
  position: relative;
}

.feature-bx2 {
  border-radius: 20px;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
  padding: 30px;
  box-shadow: 1px 1px 50px rgb(0 0 0 / 8%);
  background-image: url(./Assets/slidderback.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.feature-bx2 .feature-box-xl {
  background: #fff;
  border: 2px solid rgba(86, 90, 207, 0.1);
  border-radius: 13px;
  width: 130px;
  height: 130px;
  display: inline-block;
  text-align: center;
  line-height: 130px;
}

.feature-bx2 .feature-box-xl img,
.feature-bx2 .feature-box-xl svg {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  color: #565acf;
}

.feature-bx2 .icon-content p {
  font-size: 15px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px !important;
  font-weight: 700 !important;
  color: #1f2278;
  line-height: 1.3 !important;
}

.service-wraper .slick-slider {
  margin-right: -100px;
}

.service-wraper:after {
  content: "";
  background-color: #565acf;
  height: 100%;
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 40px 0 0 40px;
}

.slick-slide {
  padding: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .page-banner-entry nav {
    width: 70% !important;
  }
}

@media (max-width: 732px) {
  .thumb-wraper ul li a {
    width: 50px;
    height: 50px;
  }

  .page-banner-entry nav {
    width: 70% !important;
  }
  .social-media li {
    display: inline-block;
    padding: 0 3px;
    margin-top: 6px;
  }

  h4 {
    font-size: 20px;
  }
}
